<div class="routine-editor">
  <div class="header-nav">
    <a mat-button [routerLink]="['/training/plans', planId]">
      <mat-icon>arrow_back</mat-icon>
      {{ i18n.t('routineEditor.parentTitle') }}
    </a>
  </div>

  <div class="title-row">
    <h1 class="headline-lg title">{{ routine()?.name || i18n.t('routineEditor.title') }}</h1>
    <button mat-icon-button (click)="renameRoutine()" *ngIf="routine()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <!-- Active Routine Exercises -->
  <section class="log-card">
    <div class="log-header tape">{{ i18n.t('routineEditor.exerciseStack') }}</div>
    <div class="log-content">
      <div class="drag-list" cdkDropList (cdkDropListDropped)="onDrop($event)">
        @for (group of groupedExercises(); track $index) {
          @if (group.type === 'superset') {
            <div class="superset-editor-wrapper">
              <div class="superset-label label-caps">{{ i18n.t('routineEditor.supersetBlock') }}</div>
              @for (ex of group.exercises; track ex.id; let i = $index) {
                <div class="exercise-item nested" cdkDrag>
                  <div class="drag-handle" cdkDragHandle>
                    <mat-icon>drag_indicator</mat-icon>
                  </div>
                  <div class="exercise-info">
                    <span class="label-caps">{{ ex.exerciseName }}</span>
                    <span class="sub-label label-caps">{{ ex.muscleGroup }}</span>
                  </div>
                  <div class="actions">
                    <button mat-icon-button class="superset-btn active" (click)="toggleSuperset(exercises().indexOf(ex))">
                      <mat-icon>link</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="removeExercise(ex.id)">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                </div>
              }
            </div>
          } @else {
            @for (ex of group.exercises; track ex.id) {
              <div class="exercise-item" cdkDrag>
                <div class="drag-handle" cdkDragHandle>
                  <mat-icon>drag_indicator</mat-icon>
                </div>
                <div class="exercise-info">
                  <span class="label-caps">{{ ex.exerciseName }}</span>
                  <span class="sub-label label-caps">{{ ex.muscleGroup }}</span>
                </div>
                <div class="actions">
                  <button mat-icon-button class="superset-btn" (click)="toggleSuperset(exercises().indexOf(ex))" *ngIf="exercises().indexOf(ex) < exercises().length - 1">
                    <mat-icon>link_off</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="removeExercise(ex.id)">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </div>
            }
          }
        } @empty {
          <p class="empty-msg label-caps">{{ i18n.t('routineEditor.emptyStack') }}</p>
        }
      </div>
    </div>
  </section>

  <!-- Exercise Catalog / Add -->
  <div class="search-box">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label class="label-caps">{{ i18n.t('routineEditor.searchOrCreate') }}</mat-label>
      <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addExercise($event.option.value)">
        @for (option of filteredCatalog | async; track option.id) {
          <mat-option [value]="option">
            <div class="option-content">
              <span class="label-caps">{{ option.name }}</span>
              <span class="muscle-badge label-caps">{{ option.muscleGroup }}</span>
            </div>
          </mat-option>
        } @empty {
          <mat-option disabled class="no-results">
            <span class="label-caps">{{ i18n.t('routineEditor.noExistingData') }}</span>
          </mat-option>
        }
      </mat-autocomplete>
      <button matSuffix mat-icon-button (click)="createCustomExercise()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
